#logo
{
    margin-top: 10px;
    margin-left: 30px;
    width: 70px;
    height: 70px;
}
#tour
{
    margin-left: 20px;
    width: 600px;
    height: 600px;
    margin-top: 200px;
}
.flex
{
    display: flex;
}
h1
{
    margin-top: 200px;
    font-size: 55px;
    color: rgb(2, 2, 63);
}
.search
{
    border: 1px solid black;
    height: 100px;
    width: 1000px;
    margin-left: 250px;
    border-radius: 10px;
    background-color: rgb(2, 2, 63);
    display: flex;
}
#destination
{
    border: 2px solid white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 20px;
    display: flex;
}
#date
{
    border: 2px solid white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 20px;
    display: flex;
}
#guest
{
    border: 2px solid white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 20px;
    display: flex;
}
#search
{
    height: 50px;
    margin-top: 25px;
    background-color: greenyellow;
    margin-left: 20px;
    border-radius: 10px;
    font-size: x-large;
    width: 170px;
}
#location
{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
#calendar
{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
#man
{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
#mag
{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 40px;
}
.search p
{
    color: white;
    margin-left: 10px;
}
#heading
{
    margin-left: 360px;
    font-size: xx-large;
    margin-top: 100px;
}
.places
{
    display: flex;
    margin-left: 120px;
    margin-top: 50px;
}
.place
{
    display: flex;
    margin-left: 120px;
}
#img
{
    width: 300px;
    height: 270px;
    margin-left: 50px;
}
.places p
{
    margin-left: 60px;
}
.place p
{
    margin-left: 60px;
}
#sustainable
{
    margin-top: 100px;
    font-size: 40px;
    margin-left: 250px;
}
.sustain
{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
#side
{
    margin-left: 100px;
}
#footer
{
    display: flex;
    margin-top: 100px;
}
#footer img
{
    margin-left: 50px;
}
h3
{
    margin-left: 20px;
    font-size: x-large;
    margin-top: 10px;
    color: rgb(3, 3, 44);
}
#gp
{
    margin-left: 700px;
    display: flex;
}
li
{
    list-style: none;
    margin-left: 20px;
}
ul
{
    display: flex;
}
.ul
{
    display: flex;
}
#second
{
    margin-left: 400px;
}
.foot
{
    margin-bottom: 50px;
}